.topline{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

header h1{
    display: flex;
    justify-content: flex-start;
}

header nav{
    display: flex;
    justify-content: flex-end;   
}

a{
    padding: 20px;
}


/* THIS IS MAIN PORTION */
main{
    display: flex;
    flex-wrap: wrap;
}


/* LEFT SIDE HEADERS */

.aboutMe{
    flex-direction: column;
    background-color: skyblue;
    height: 200px;
    width: 150px;
    padding: 50px;
    text-align: center;
    justify-content: flex-start;
    margin-left: 100px;
}


.myProject{
    background-color: aquamarine;
    height: 600px;
    padding: 50px;
    width: 150px;
    text-align: center;
    justify-content: right;
    margin-left: 100px;
}

.my{
    flex-direction: column;
    background-color: skyblue;
    height: 75px;
    width: 150px;
    padding: 50px;
    text-align: center;
    justify-content: flex-start;
    margin-left: 100px;
}



/* RIGHT SIDE CONTENTS STYLES */

/* Headers */

.thisisMe{
    display: flex;
}


.awesome-projects{
    display: flex;
}

.myContacts{
    display: flex;
}



/*  SECTIONS */
.iAm p{
    display: flexbox;
    height: 200px;
    width: 850px;
    margin-left: 150px;
}


.projects section{
    display: flexbox;
    height: 120px;
    width: 750px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: beige;
    text-align: center;
    border: 5px solid black;
    margin-bottom: 25px;
    margin-left: 150px;
}


/* Contact ME */

.myContacts{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.contacts{
    display: flex;
    justify-content: space-between;
}
