.topline{
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-height: 20%;
    background: linear-gradient(#e66465, #9198e5);
}

header h1{
    display: flex;
    justify-content: flex-start;
    font-family: fantasy;
    
}

header nav{
    display: flex;
    justify-content: flex-end;   
}

header a{
    padding: auto;
    padding-left:   55px;
    padding-right:  55px;
    font-family: fantasy;
    font-size: 25px;
}


/* THIS IS MAIN PORTION */
main{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: auto;
    background-image: url(images/tom-barrett-zbai2Y1GBIw-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}


/* LEFT SIDE HEADERS */




#mePicture{
    margin: auto;
    max-width: 35%;
    padding-bottom: 3%;
}

/* RIGHT SIDE CONTENTS STYLES */

/* Headers */
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.thisisMe{
    display: flex;
    width: 100%
}


.aboutMe{
    /* flex-direction: column; */
    background-color: slategray;
    height: 12%;
    min-width: 12%;
    max-width: 12%;
    padding: 50px;
    text-align: center;
    /* justify-content: flex-start; */
    margin-left: 100px;
}

.iAm {
    min-height: 200px;
    min-width: 65%;
}

.iAm p{
    /* display: flex; */
    min-width: 65%;
    max-width: 65%;
    margin-left: 13%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(255, 255, 255, .5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}




/*  PROJECT PROJECT PROJECT  */
/*  PROJECT PROJECT PROJECT  */
/*  PROJECT PROJECT PROJECT  */


.projects{
    min-height: 200px;
    min-width: 65%;
}

.projects section{
    min-height: 150px;
    min-width: 65%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: beige;
    text-align: center;
    border: 5px solid black;
    margin: 0 5% 0 20%;
    display: flex;
    margin-bottom: 25px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.projects section h3{
    background-color: rgba(255, 255, 255, .5);
    padding: 10px;
    padding-left:   65px;
    padding-right:  65px;
    font-size: 25px;
    font-family: fantasy;
}


#LOL{
    background-image: url("./images/Application\ image.jpg");
    background-size: cover;
    background-position: center;
    min-height: 200px;
    max-height: 200px;
}

#SM{
    background-image: url("./images/Application\ image.jpg");
    background-size: cover;
    background-position: center;
    min-height: 15%;
    max-height: 200px;

}


#PG{
    background-image: url("./images/Application\ image.jpg");
    background-size: cover;
    background-position: center;
    min-height: 15%;
    max-height: 200px;

}


#BW{
    background-image: url("./images/Application\ image.jpg");
    background-size: cover;
    background-position: center;
    min-height: 15%;
    max-height: 200px;

}




.awesome-projects{
    display: flex;
    min-width: 100%
}

.myProject{
    background-color: aquamarine;
    height: auto;
    padding: 50px;
    min-width: 12%;
    max-width: 12%;
    text-align: center;
    justify-content: right;
    margin-left: 100px;
}

/* Contact ME */

.myContacts{
    display: flex;
    align-items:center;
}

.contacts{
    display: flex;
    margin: 0 auto;
    /* flex: 1 */
    justify-content: center;

}

.contacts a {
    min-width: 30%;
    max-width: 30%;
    border: 5px solid black;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .5);
    margin: 20px;
    padding-right: 20px;
    padding-left:  20px;   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.my{
    flex-direction: column;
    background-color: bisque;
    min-width: 12%;
    max-width: 12%;
    padding: 50px;
    text-align: center;
    justify-content: flex-start;
    margin-left: 100px;

}

@media screen and (max-width:700px){.contacts {

    flex-direction: column ;
}
}

@media screen and (max-width:1200px)and (min-width:700px){.contacts {

    flex-direction: column ;
}
}