.topline{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

header h1{
    display: flex;
    justify-content: flex-start;
}

header nav{
    display: flex;
    justify-content: flex-end;   
}

a{
    padding: 20px;
}


/* THIS IS MAIN PORTION */
main{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: auto;
}


/* LEFT SIDE HEADERS */






.my{
    flex-direction: column;
    background-color: skyblue;
    min-width: 12%;
    max-width: 12%;
    padding: 50px;
    text-align: center;
    justify-content: flex-start;
    margin-left: 100px;
}



/* RIGHT SIDE CONTENTS STYLES */

/* Headers */

.thisisMe{
    display: flex;
    width: 100%
}


.aboutMe{
    /* flex-direction: column; */
    background-color: skyblue;
    height: 12%;
    min-width: 12%;
    max-width: 12%;
    padding: 50px;
    text-align: center;
    /* justify-content: flex-start; */
    margin-left: 100px;
}

.iAm {
    min-height: 200px;
    min-width: 65%;
}

.iAm p{
    /* display: flex; */
    min-width: 65%;
    max-width: 65%;
    margin-left: 13%;
    padding-left: 5%;
    padding-right: 5%;
}


#mePicture{
    margin: auto;
    max-width: 50%;
}


/*  SECTIONS */


.projects{
    min-height: 200px;
    min-width: 65%;
}

.projects section{
    min-height: 120px;
    min-width: 65%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: beige;
    text-align: center;
    border: 5px solid black;
    margin: 0 5% 0 20%;
    display: flex;
    margin-bottom: 25px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.projects section h3{
    background-color: rgba(255, 255, 255, .5);
    padding: 10px;
    font-weight: 1900px;
}

#Horiseon{
    background-image: url("./images/Application\ image.jpg");
    background-size: cover;
    background-position: center;
    min-height: 350px;
}


.awesome-projects{
    display: flex;
    min-width: 100%
}

.myProject{
    background-color: aquamarine;
    height: 600px;
    padding: 50px;
    min-width: 12%;
    max-width: 12%;
    text-align: center;
    justify-content: right;
    margin-left: 100px;
}

/* Contact ME */

.myContacts{
    display: flex;
    /* justify-content: space-between; */
    align-items:center;
}

.contacts{
    /* display: flex; */
    justify-content: space-around;
    margin: 0 auto;
}

.contacts a {
    /* padding-left: 5%; */
    /* padding-right: 10%; */
}


